.sidebar-icon {
  width: 30px;
  margin-right: 10px;
  opacity: 0.5;
}

.sidebar-icon-small {
  width: 10%;
  margin-right: 10px;
  filter: invert(0.6);
}
.sidebar-icon-round {
  width: 90%;
  object-fit: cover;
  object-position: center;
}

.user-avatar {
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
  width: 15%;
  aspect-ratio: 1/1;
  margin-right: 10px;
  text-align: center;
}

.logo {
  max-width: 80%;
}

.logo .small {
  display: none;
}

.player-img {
  max-width: 50px;
  vertical-align: middle;
}

.card img {
  max-width: 100%;
  padding-bottom: 1rem;
}
