@media screen and (max-width: 1100px) {
  .player-control {
    max-width: 400px;
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: calc(100% / 4 - 0.5rem);
    min-width: auto;
  }
}
@media screen and (max-width: 600px) {
  .card {
    width: calc(100% / 2 - 0.5rem);
    min-width: auto;
  }
  .player i {
    padding-left: 0.3rem;
  }
  .player-img {
    max-width: 40px;
  }
}
@media screen and (max-width: 500px) {
  .player i {
    padding-left: 0.2rem;
  }
  .player-img {
    max-width: 30px;
  }
  .logo .large {
    display: none;
  }
  .logo .small {
    display: inline-block;
    width: 40px;
  }
}
