@media screen and (max-width: 1100px) {
  .card {
    width: calc(100% / 4 - 0.8rem);
    min-width: 90px;
    margin-left: 0.8rem;
  }
  .card-container {
    margin-left: -0.8rem;
  }
  .player-control {
    max-width: 400px;
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: calc(100% / 2 - 0.6rem);
    min-width: 100px;
    margin-left: 0.6rem;
  }
  .card-container {
    margin-left: -0.6rem;
  }
}
@media screen and (max-width: 600px) {
  .player i {
    padding-left: 0.3rem;
  }
  .player-img {
    max-width: 40px;
  }

  .player i {
    padding-left: 0.2rem;
  }
  .player-img {
    max-width: 30px;
  }
  .logo .large {
    display: none;
  }
  .logo .small {
    display: inline-block;
    width: 40px;
  }
  .btn {
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
  }
  .d-none {
    display: none;
  }

  .sidebar {
    width: 72px;
    text-align: center;
    justify-content: space-between;
  }
  .sidebar-bottom-download {
    justify-content: center;
    padding-bottom: 8px;
    border-bottom: 0px solid gray;
  }
  .sidebar-icon-small {
    width: 20px;
    margin-right: 0;
  }
  .user-container {
    justify-content: centert;
    padding-top: 8px;
  }
  .user-avatar {
    width: 40px;
    margin-right: 0px;
  }
  .sidebar-icon-container {
    justify-content: center;
  }
  .sidebar-icon-container img {
    justify-content: center;
    margin-right: 0;
  }
  .d-none-mobile {
    flex-direction: column;
  }
  .bottom-glow:hover .volume-percentage i {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .fa-list {
    display: none;
  }
  .fa-display {
    display: none;
  }

  .player-right-container {
    min-width: 50px;
  }
}

@media screen and (max-width: 460px) {
  .d-none-mobile {
    display: none;
  }
  .player-right-container {
    min-width: 20px;
  }
  .player-left-container {
    padding-right: 0.5rem;
  }
  .player-right-container {
    padding-left: 0.5rem;
  }
}

@media screen and (max-height: 600px) {
  .top-bar {
    display: none;
  }
}
