@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import url(utility.css);
@import url(img.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-container {
  height: 100vh;
}

.sidebar {
  width: 250px;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: gray;
  background-color: black;
}

.sidebar-icon-container {
  display: flex;
  align-items: center;
  color: gray;
  margin-bottom: 10px;
}
.sidebar-top {
  padding-top: 1rem;
}
.sidebar-main {
  display: flex;
  padding: 1rem 0;
  overflow: hidden;
  flex-grow: 1;
  flex-direction: column;
}
.sidebar-main ul {
  list-style: none;
  padding-left: 0;
}

.sidebar-main ul li {
  padding: 0.5rem;
  padding-left: 0;
}

.add-playlist {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.add-playlist .plus {
  background-color: gray;
  margin-right: 10px;
  text-align: center;
  font-size: 2rem;
  color: black;
  display: inline-block;
  width: 39px;
  font-weight: bold;
}
.playlist {
  display: flex;
  flex-grow: 1;
  overflow: auto;
}

.sidebar-bottom-download {
  display: flex;
  align-items: center;
  justify-content: start;
  color: gray;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  font-weight: bolder;
  padding-top: 20px;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(8, 11, 18);
  padding: 2rem 0.5rem;
}

.player {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(40, 40, 40);
  padding: 1rem 0rem;
  flex-shrink: 0;
  flex-grow: 1;
}

.player-control {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 600px;
}
.player-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  gap: 1.2rem;
}
.categories-container {
  background-color: rgb(20, 25, 34);
  color: white;
  padding: 1rem;
}

.main-tabs {
  text-align: center;
  color: gray;
  padding-bottom: 2.5rem;
}
.main-tabs a {
  padding: 0 0.5rem;
}

.card {
  width: calc(100% / 6 - 0.5rem);
  min-width: 150px;
}

.card span {
  font-size: 0.8rem;
  color: gray;
  padding-top: 0.5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-bottom: 2.5rem;
}

.player-left-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 250px;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.player i {
  padding-left: 0.5rem;
}

.player-right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 250px;
  min-width: 159px;
  padding-right: 0.5rem;
  padding-left: 1rem;
}

.volume {
  height: 3px;
  background-color: gray;
  margin-left: 0.5rem;
  border-radius: 25px;
  min-width: 20px;
}

.volume-percentage {
  width: 30%;
  background-color: white;
  height: 3px;
  border-radius: 25px;
}
.track-timer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.track-timer {
  height: 3px;
  background-color: gray;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  border-radius: 25px;
  flex-grow: 1;
}

.track-timer-bar {
  width: 30%;
  background-color: white;
  height: 3px;
  border-radius: 25px;
}

.underline-hover {
  position: absolute;
  left: calc(50% - 1.5rem);
  bottom: -8px;
  background-color: rgb(187, 255, 48);
  height: 1px;
  width: 3rem;
  opacity: 0;
}
.main-tabs a {
  position: relative;
  display: inline-block;
}
.main-tabs a:hover .underline-hover {
  opacity: 1;
  transition: all 1s ease;
}

.card div {
  position: relative;
}

.card .fa-circle-play {
  font-size: 4rem;
  position: absolute;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  opacity: 0;
}
.card:hover img {
  opacity: 0.5;
}

.card:hover .fa-circle-play {
  opacity: 1;
  transition: all 1s ease;
}
