@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import url(utility.css);
@import url(img.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-container {
  height: 100vh;
}

.sidebar {
  width: 250px;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  color: gray;
  background-color: black;
}

.sidebar-icon-container {
  display: flex;
  align-items: center;
  color: gray;
}
.sidebar-top {
  padding-top: 1rem;
}
.sidebar-main {
  display: flex;
  padding: 1rem 0;
  overflow: auto;
}
.sidebar-main ul {
  list-style: none;
  padding-left: 0;
}

.sidebar-main ul li {
  padding: 0.5rem;
}

.add-playlist {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.add-playlist .plus {
  background-color: gray;
  margin-right: 10px;
  text-align: center;
  font-size: 2rem;
  color: black;
  display: inline-block;
  width: 39px;
  font-weight: bold;
}

.sidebar-bottom-download {
  display: flex;
  align-items: center;
  justify-content: start;
  color: gray;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  font-weight: bolder;
  padding-top: 20px;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(8, 11, 18);
  padding: 2rem 0.5rem;
}

.player-controls {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(40, 40, 40);
  padding: 1rem 0.5rem;
  flex-shrink: 0;
  flex-grow: 1;
}

.categories-container {
  background-color: rgb(20, 25, 34);
  color: white;
}

.main-tabs {
  text-align: center;
}
.main-tabs a {
  padding: 0 0.5rem;
}

.card {
  width: calc(100% / 6);
  min-width: 150px;
}
