.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}
.flex-shrink {
  flex-shrink: 0;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}

.p-1 {
  padding: 1rem;
}
