.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}
.flex-shrink {
  flex-shrink: 0;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}

.p-1 {
  padding: 1rem;
}

.pl-05 {
  padding-left: 0.5rem;
}

.pb-15 {
  padding-bottom: 1.5rem;
}

.btn {
  border: 1px solid white;
  border-radius: 25px;
  padding: 0.5rem 2.5rem;
  color: white;
}

.color-white {
  color: white;
}

.color-gray {
  color: gray;
}

.text-11 {
  font-size: 1.1rem;
}

.text-small {
  font-size: 0.8rem;
}

.text-25 {
  font-size: 2.5rem;
}
